***Regular Expression***

In [3]:
import re
string = "The sky is blue and ocean is blue"
pat = "The"
res = re.match(pat,string)
print(res)
print(res.group()) #it return the matched pattern
print(res.span()) #it returns the matched pattern position

<re.Match object; span=(0, 3), match='The'>
The
(0, 3)

In [16]:
import re
string = "The sky is blue and ocean is blue"
pat = "the"
res = re.match(pat,string)
print(res)
print(res.group()) #it return the matched pattern
print(res.span()) #it returns the matched pattern position

None

AttributeError: 'NoneType' object has no attribute 'group'

In [7]:
#search(pat,string):This function check entire string and it returns the first matched pattern
import re
string = "The sky is blue and ocean is blue"
pat = "blue"
res = re.search(pat,string)
print(res)
print(res.group()) #it return the matched pattern
print(res.span()) #it returns the matched pattern position

<re.Match object; span=(11, 15), match='blue'>
blue
(11, 15)

In [8]:
#findall(pat,string):returns all matched patterns in the string
import re
string = "The sky is blue and ocean is blue"
pat = "blue"
res = re.findall(pat,string)
print(res)

['blue', 'blue']

In [10]:
#findall(pat,string):returns all matched patterns in the string
import re
string = "The sky is blue and ocean is blue"
pat = "[abcd]"
res = re.findall(pat,string)
print(res)

['b', 'a', 'd', 'c', 'a', 'b']

In [14]:
#findall(pat,string):returns all matched patterns in the string
import re
string = "The sky2 is bl1ue and oce6an is blu5e"
pat = "[0-9]"
res = re.findall(pat,string)
print(res)

['2', '1', '6', '5']

In [15]:
#findall(pat,string):returns all matched patterns in the string
import re
string = "The sky2 is bl1ue and oce6an is blu5e"
pat = "[0-9]"
res = re.sub(pat,"",string)
print(res)

The sky is blue and ocean is blue